.container{
    color: #fff;
}
.choice-container{
    display: flex;
    margin: 0.8rem;
   /* width: 70vw;*/
    border-radius: 4px;
    background-color: rgb(18,93,255);
    font-size: 3rem;
    /*min-width: 50vw;*/
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6,103,247,0.5);
    transform:  scale(1.02);
    transform: transform 100ms;
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color: white;
    
}
.choice-text{
    padding: 2rem;
    width: 100%;  
}
.correct{
    background: linear-gradient(32deg, rgba(11,223,36) 0%, rgb(41,232,11) 100%);
}
/*heads up display*/
.hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

.progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgba(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
.progressBarFull{
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}
.buttonNext {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #1875FF;
    color: white; 
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
    margin-top: 105px;
   }
   .buttonNext span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   .buttonNext span:after {
    content: 'pitanje';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   .buttonNext:hover span {
    padding-right: 3.55em;
   }
   .buttonNext:hover span:after {
    opacity: 4;
    right: 0;
   }
/*@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }
}*/
